body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_form {
    display: flex;
    flex-direction: column ;
    border: 1px solid #555;
    width: fit-content;
    padding: 20px 40px 0px 20px;
    margin-top: 40px;
    background-color: rgb(238,238,238);
}

.input form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.username,
.password{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.username label,
.password label{
    font-weight: bold;
}

.username input,
.password input{
    width: 260px;
    height: 20px;
    padding-left: 4px;
}
.submit{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.login{
    border: 1px solid#555;
    background-color: white;
    border-radius: 2px;
    height: 26px;
    width: 60px;
}

.tool{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.register {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.switch-form-button {
    border: none; 
    background-color: transparent; 
    color: blue;
    cursor: pointer; 
    padding: 0; 
    text-decoration: none;
}

.switch-form-button:hover {
    color: darkblue;
}

